<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279554927543-84js69lbjp0qhojrvaca22q3lr3gg81o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279554927543-84js69lbjp0qhojrvaca22q3lr3gg81o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>279554927543-377lktr5e0dceqeqim69lqv039idru8h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZIjunRZuq_LCaSSwOLzwOPgEX_frx3gk</string>
	<key>GCM_SENDER_ID</key>
	<string>279554927543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectPemmob</string>
	<key>PROJECT_ID</key>
	<string>project-pemmob</string>
	<key>STORAGE_BUCKET</key>
	<string>project-pemmob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279554927543:ios:1b5c4464e6ba19c1c4d632</string>
</dict>
</plist>